<!-- templates/post_detail.html -->
{% extends 'base.html' %}

{% block content%}
<b style = " margin-top: 50px; font-size: 30px; color:black; margin-bottom: 50px"> Daily Covid Statistics </b>    <div class="container">
        <iframe src="https://experience.arcgis.com/experience/4ab8757241cc4d3fab81c8f86a501ce9" height="500" width="50%" style = "align-self:center;">
        </iframe> <iframe src="https://public.domo.com/cards/31O7r" width="500" height="500" marginheight="0" marginwidth="4" frameborder="0" style = "align-self:center"></iframe>
    </div>
{% endblock content%}